.row {
    font-size: 0;
}

.square {
    width: 25;
    height: 25;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 1;
    font-size: initial;
    background-color: lightgrey;
}

.square.snake {
    background-color: green !important;
}

.square.snake.broken {
    background-color: red !important;
}

.square.food {
    background-color: blue !important;
}

.square.trap {
    background-color: red !important;
}
